{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "project": "./tsconfig.eslint.json"
  },
  "plugins": ["react", "react-hooks", "@typescript-eslint", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "react/prop-types": 0,
    "prettier/prettier": [
      2,
      {
        "bracketSpacing": true,
        "printWidth": 100,
        "trailingComma": "none",
        "singleQuote": true,
        "jsxSingleQuote": true,
        "tabWidth": 2
      }
    ]
  }
}
